#logo {
  height: 100px;
  width: 100px;
  margin-left: 420px;
}
header {
  min-width: 950px;
  background: #00539c;
/* Old browsers */
  background: -moz-linear-gradient(top, #00539c 0%, #0061b5 25%, #007ce8 50%, #0061b5 75%, #00539c 100%);
/* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00539c), color-stop(25%, #0061b5), color-stop(50%, #007ce8), color-stop(75%, #0061b5), color-stop(100%, #00539c));
/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #00539c 0%, #0061b5 25%, #007ce8 50%, #0061b5 75%, #00539c 100%);
/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #00539c 0%, #0061b5 25%, #007ce8 50%, #0061b5 75%, #00539c 100%);
/* Opera 11.10+ */
  background: -ms-linear-gradient(top, #00539c 0%, #0061b5 25%, #007ce8 50%, #0061b5 75%, #00539c 100%);
/* IE10+ */
  background: linear-gradient(to bottom, #00539c 0%, #0061b5 25%, #007ce8 50%, #0061b5 75%, #00539c 100%);
/* W3C */
  border: 5px solid #808080;
  box-shadow: 2px 2px 6px 1px #000;
  -webkit-border-radius: 100%;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius: 100%;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-radius: 100%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
header h1 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 1px #bbb;
}
header h2 {
  color: #fff;
  font-variant: small-caps;
  text-align: center;
  font-size: 140%;
  font-style: italic;
  margin: -25px 0px 36px;
  text-shadow: 1px 1px 1px #bbb;
}
nav ul {
  min-width: 950px;
  padding-bottom: 10px;
}
nav li {
  display: inline-block;
}
nav li a.selected {
  color: #cd7f32;
}
nav li a:hover {
  color: #ffd700;
}
nav li a:active {
  color: #cd7f32;
}
nav li a {
  margin: 0 12px 0;
  padding: 5px 18px 5px;
  background: #0350a3;
/* Old browsers */
  background: -moz-linear-gradient(top, #0350a3 0%, #0350a3 11%, #0066c6 50%, #0350a3 88%, #0350a3 100%);
/* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0350a3), color-stop(11%, #0350a3), color-stop(50%, #0066c6), color-stop(88%, #0350a3), color-stop(100%, #0350a3));
/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0350a3 0%, #0350a3 11%, #0066c6 50%, #0350a3 88%, #0350a3 100%);
/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0350a3 0%, #0350a3 11%, #0066c6 50%, #0350a3 88%, #0350a3 100%);
/* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0350a3 0%, #0350a3 11%, #0066c6 50%, #0350a3 88%, #0350a3 100%);
/* IE10+ */
  background: linear-gradient(to bottom, #0350a3 0%, #0350a3 11%, #0066c6 50%, #0350a3 88%, #0350a3 100%);
/* W3C */
  border: 3px groove #bbb;
  border-radius: 6%;
  color: #fff;
  text-decoration: none;
  font-variant: small-caps;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 2px 2px 6px 1px #000;
  text-shadow: 1px 1px 2px #000;
}
.col-cont {
  margin-left: -60px;
  min-width: 960px;
  margin-top: -10px;
}
#pillar {
  width: 200px;
  height: 625px;
}
.l-col {
  position: absolute;
  z-index: 2;
  margin-left: 10px;
  width: 125px;
}
.r-col {
  position: absolute;
  z-index: 2;
  margin-left: 875px;
  width: 125px;
}
footer.floor {
  position: absolute;
  z-index: 2;
  min-width: 960px;
  margin-top: 620px;
  height: 36px;
  background: #00539c;
/* Old browsers */
  background: -moz-linear-gradient(top, #00539c 0%, #0061b5 25%, #007ce8 50%, #0061b5 75%, #00539c 100%);
/* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00539c), color-stop(25%, #0061b5), color-stop(50%, #007ce8), color-stop(75%, #0061b5), color-stop(100%, #00539c));
/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #00539c 0%, #0061b5 25%, #007ce8 50%, #0061b5 75%, #00539c 100%);
/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #00539c 0%, #0061b5 25%, #007ce8 50%, #0061b5 75%, #00539c 100%);
/* Opera 11.10+ */
  background: -ms-linear-gradient(top, #00539c 0%, #0061b5 25%, #007ce8 50%, #0061b5 75%, #00539c 100%);
/* IE10+ */
  background: linear-gradient(to bottom, #00539c 0%, #0061b5 25%, #007ce8 50%, #0061b5 75%, #00539c 100%);
/* W3C */
  border: 5px solid #808080;
  box-shadow: 2px 2px 6px 1px #000;
}
