html {
  font-family: 'Quattrocento', sans-serif;
  max-width: 970px;
  margin: 5px auto;
}
.c-col {
  padding-top: 10px;
  min-width: 925px;
}
.c-col h2 {
  text-align: center;
  font-size: 26px;
  font-variant: small-caps;
}
.c-col h3 {
  text-align: center;
  font-size: 20pt;
  font-weight: bold;
  font-variant: small-caps;
}
.c-col h4 {
  font-size: 16pt;
  text-align: center;
  font-variant: small-caps;
}
.c-col h5 {
  text-align: center;
  font-style: italic;
  font-size: 10pt;
}
.c-col ul li {
  text-align: center;
  line-height: 24px;
  margin-right: 25px;
  list-style: none;
  font-size: 12pt;
}
.c-col a {
  color: #fff;
  text-decoration: none;
  font-variant: small-caps;
  font-size: 15px;
  font-weight: bold;
}
.c-col a:hover {
  color: #ffd700;
}
.c-col p {
  margin-left: 200px;
}
.cancel-btn {
  float: right;
  margin-right: 30%;
}
#update_form {
  margin-left: 50px;
  margin-top: 30px;
}
.form_row {
  padding: 5px;
}
.form_row input[type="text"],
.form_row select,
.form_row #passphrase {
  margin: 0px 0px 10px 0px;
}
.form_row label {
  float: left;
  width: 200px;
}
.tour,
.manage {
  margin-left: 355px;
  width: 200px;
  padding: 3px 12px 3px;
  text-align: center;
  background: #0350a3;
/* Old browsers */
  background: -moz-linear-gradient(top, #0350a3 0%, #0350a3 11%, #0066c6 50%, #0350a3 88%, #0350a3 100%);
/* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0350a3), color-stop(11%, #0350a3), color-stop(50%, #0066c6), color-stop(88%, #0350a3), color-stop(100%, #0350a3));
/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0350a3 0%, #0350a3 11%, #0066c6 50%, #0350a3 88%, #0350a3 100%);
/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0350a3 0%, #0350a3 11%, #0066c6 50%, #0350a3 88%, #0350a3 100%);
/* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0350a3 0%, #0350a3 11%, #0066c6 50%, #0350a3 88%, #0350a3 100%);
/* IE10+ */
  background: linear-gradient(to bottom, #0350a3 0%, #0350a3 11%, #0066c6 50%, #0350a3 88%, #0350a3 100%);
/* W3C */
  border: 3px groove #bbb;
  border-radius: 6%;
  box-shadow: 2px 2px 6px 1px #000;
}
#sign {
  width: 265px;
  height: 201px;
  margin-left: 340px;
  border: 5px groove #0061b5;
}
#lodge {
  width: 325px;
  height: 176px;
  margin-left: 305px;
  margin-bottom: 12px;
  border: 5px groove #0061b5;
}
select {
  padding-left: 5px;
}
#msgPost {
  margin: 0px auto;
}
#msg,
#event,
#officers {
  margin: 30px auto 40px;
  width: 700px;
  background: #fff;
  line-height: 25px;
  border: 1px solid #3b4f71;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 4px 4px 4px 0px #666;
  -moz-box-shadow: 4px 4px 4px 0px #666;
  box-shadow: 4px 4px 4px 0px #666;
}
#msg tr:first-child,
#event tr:first-child,
#officers tr:first-child {
  font-weight: 600;
  font-variant: small-caps;
  font-size: 15pt;
}
#msg tr:first-child th,
#event tr:first-child th,
#officers tr:first-child th {
  color: #fff;
  height: 30px;
  background: #0350a3;
/* Old browsers */
  background: -moz-linear-gradient(top, #0350a3 0%, #0350a3 11%, #0066c6 50%, #0350a3 88%, #0350a3 100%);
/* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0350a3), color-stop(11%, #0350a3), color-stop(50%, #0066c6), color-stop(88%, #0350a3), color-stop(100%, #0350a3));
/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0350a3 0%, #0350a3 11%, #0066c6 50%, #0350a3 88%, #0350a3 100%);
/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0350a3 0%, #0350a3 11%, #0066c6 50%, #0350a3 88%, #0350a3 100%);
/* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0350a3 0%, #0350a3 11%, #0066c6 50%, #0350a3 88%, #0350a3 100%);
/* IE10+ */
  background: linear-gradient(to bottom, #0350a3 0%, #0350a3 11%, #0066c6 50%, #0350a3 88%, #0350a3 100%);
/* W3C */
  padding-bottom: 8px;
}
#msg tr:first-child:hover,
#event tr:first-child:hover,
#officers tr:first-child:hover {
  background-color: transparent;
}
#msg tr:nth-child(even),
#event tr:nth-child(even),
#officers tr:nth-child(even) {
  background-color: #f9f9f9;
}
#msg tr a,
#event tr a,
#officers tr a {
  display: block;
  width: 100%;
  color: #5b5b5b;
}
#msg tr a:hover,
#event tr a:hover,
#officers tr a:hover {
  color: #fefefe;
}
#msg tr:hover,
#event tr:hover,
#officers tr:hover {
  background-color: #d6d6d6;
}
#msg tr th.ac,
#event tr th.ac,
#officers tr th.ac {
  text-align: center;
}
#msg tr td,
#event tr td,
#officers tr td {
  text-align: left;
  padding-left: 10px;
}
#msg tr td:last-child,
#event tr td:last-child,
#officers tr td:last-child {
  width: 15px;
  padding-left: 0px;
}
#msg tr td:last-child button,
#event tr td:last-child button,
#officers tr td:last-child button {
  background-color: transparent;
  color: transparent;
  border: none;
  cursor: pointer;
  background-image: url("/images/delete.png");
  background-size: 15px;
  height: 15px;
  width: 15px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}
#msg tr td:last-child button:hover,
#event tr td:last-child button:hover,
#officers tr td:last-child button:hover {
  background-image: url("/images/delete2.png");
}
#msg td:nth-child(2) {
  width: 400px;
}
#officers {
  width: 500px !important;
  margin-top: 85px;
}
#officers tr td:first-child {
  text-align: right;
  font-weight: 800;
  padding-right: 20px;
}
#officers tr td:last-child {
  padding-left: 20px;
  width: 220px;
}
#event td {
  text-align: center !important;
}
#passphrase,
#message,
select,
input[type="text"] {
  margin: 20px 20px 0px 10px;
}
#event_show {
  width: 550px;
  padding: 25px;
  margin-top: 30px;
  margin-left: 175px;
  border: 1px solid #3b4f71;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 4px 4px 4px 0px #666;
  -moz-box-shadow: 4px 4px 4px 0px #666;
  box-shadow: 4px 4px 4px 0px #666;
}
.event_row,
.event_row2 {
  clear: both;
  height: 26px;
  width: 525px;
  padding: 8px;
  border-bottom-style: ridge;
  border-width: 1px;
  border-color: #3d3d3d;
}
.event_row label,
.event_row2 label {
  float: left;
  display: block;
  width: 80px;
}
.event_field {
  float: left;
  display: block;
  padding-bottom: 10px;
  padding-left: 20px;
}
.event_row2 {
  height: 60px;
}
.event_row2 label {
  width: 100px;
}
.event_textarea {
  height: 55px;
  overflow-y: scroll;
}
.post {
  margin-top: 20px;
  padding: 2px 20px 2px;
  background: #0350a3;
/* Old browsers */
  background: -moz-linear-gradient(top, #0350a3 0%, #0350a3 11%, #0066c6 50%, #0350a3 88%, #0350a3 100%);
/* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0350a3), color-stop(11%, #0350a3), color-stop(50%, #0066c6), color-stop(88%, #0350a3), color-stop(100%, #0350a3));
/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0350a3 0%, #0350a3 11%, #0066c6 50%, #0350a3 88%, #0350a3 100%);
/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0350a3 0%, #0350a3 11%, #0066c6 50%, #0350a3 88%, #0350a3 100%);
/* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0350a3 0%, #0350a3 11%, #0066c6 50%, #0350a3 88%, #0350a3 100%);
/* IE10+ */
  background: linear-gradient(to bottom, #0350a3 0%, #0350a3 11%, #0066c6 50%, #0350a3 88%, #0350a3 100%);
/* W3C */
  border: 3px groove #bbb;
  border-radius: 6%;
  color: #fff;
  text-decoration: none;
  font-variant: small-caps;
  font-size: 18px;
  box-shadow: 2px 2px 6px 1px #000;
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
#pdf {
  width: 30px;
  margin-left: 10px;
}
#html {
  width: 30px;
  margin-left: 10px;
}
#gallery {
  margin-left: 20px;
  width: 32px;
}
#email {
  width: 50px;
  margin-left: 450px;
}
iframe {
  margin-left: 265px;
}
#faq,
#links {
  width: 640px;
  height: 480px;
  margin-top: 20px;
  margin-left: 155px;
  border: 1px solid #000;
  overflow: scroll;
  overflow-x: hidden;
}
#faq ul li,
#links ul li {
  margin-right: 25px;
  font-size: 10pt;
}
#faq a,
#links a {
  text-decoration: none;
  color: #000;
}
#faq a:hover,
#links a:hover {
  color: #ffd700;
}
.fotorama {
  margin-left: 175px;
}
#ui-datepicker-div {
  font-size: 12px;
}
#flash-alert,
#error-alert {
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  margin-top: 65px;
  margin-left: 45px;
  min-width: 960px;
}
#error-alert {
  color: #f00;
}
#flash-alert {
  color: #008000;
}
.ui-dialog-content {
  background: #fff !important;
}
#dialog-1 input[type="submit"],
#dialog-2 input[type="submit"] {
  float: right;
  margin-top: 25px;
}
#event_update,
#officer_update {
  float: right;
  background-color: transparent;
  color: transparent;
  border: none;
  cursor: pointer;
  background-image: url("/images/edit_button.png");
  background-size: 20px;
  height: 20px;
  width: 20px;
  background-position: center;
  background-repeat: no-repeat;
}
#event_update:hover,
#officer_update:hover {
  background-image: url("/images/edit_button2.png");
}
#officer_update {
  margin-top: -60px;
  margin-right: 190px;
}
#event_update {
  margin-top: -20px;
  margin-right: 140px;
}
.post_row,
.post_row2 {
  margin-left: 175px;
  padding: 5px;
}
.post_row input,
.post_row2 input {
  padding-left: 5px;
}
.post_row2 {
  margin-top: 10px;
}
.post_row2 label {
  float: left;
  padding-right: 10px;
}
