html
	font-family: 'Droid Sans', sans-serif;
	max-width:950px;
	margin:5px auto;

.c-col
	padding-top: 10px;
	min-width:925px;
	
	h2		
		text-align: center;
		font-size: 26px;
		font-variant: small-caps;

	h3
		text-align: center;
		font-size: 22pt;	
		font-weight: bold;
		font-variant: small-caps;
	h4
		font-size: 18pt;
		text-align: center;
		font-variant: small-caps;

	h5
		text-align: center;
		font-style: italic;
		font-size: 12pt;
	ul
		li
			text-align: center;
			line-height: 25px;
			margin-right:25px;
			list-style:none;
			font-size: 14pt;
	a 
		color:white;
		text-decoration: none;
		font-variant: small-caps;
		font-size: 15px;
		font-weight: bold;	
		&:hover
			color:gold;
	p
		margin-left:200px
.tour,
.manage
	margin-left: 355px;
	width: 200px;
	padding:3px 12px 3px;
	text-align: center;
	background: #0350a3; /* Old browsers */
	background: -moz-linear-gradient(top, #0350a3 0%, #0350a3 11%, #0066c6 50%, #0350a3 88%, #0350a3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0350a3), color-stop(11%,#0350a3), color-stop(50%,#0066c6), color-stop(88%,#0350a3), color-stop(100%,#0350a3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0350a3 0%,#0350a3 11%,#0066c6 50%,#0350a3 88%,#0350a3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #0350a3 0%,#0350a3 11%,#0066c6 50%,#0350a3 88%,#0350a3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #0350a3 0%,#0350a3 11%,#0066c6 50%,#0350a3 88%,#0350a3 100%); /* IE10+ */
	background: linear-gradient(to bottom, #0350a3 0%,#0350a3 11%,#0066c6 50%,#0350a3 88%,#0350a3 100%); /* W3C */
	border:3px groove #BBB;
	border-radius: 6%;
	box-shadow: 2px 2px 6px 1px black;
	text-shadow: 1px 1px 2px black;


//HOME
#sign
	width: 265px;
	height: 201px;
	margin-left: 340px;
	border: 5px groove #0061B5;

#lodge
	width: 325px;
	height: 176px;
	margin-left: 305px;
	margin-bottom: 12px;
	border: 5px groove #0061B5;

//NEWS

select
	padding-left: 5px;
#msgPost
	margin: 0px auto;

#msg, #event
	margin: 30px auto 40px;
	width: 700px;
	background: #ffffff
	line-height 20px
	border: 1px solid #3b4f71
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 4px 4px 4px 0px rgba(102,102,102,1);
	-moz-box-shadow: 4px 4px 4px 0px rgba(102,102,102,1);
	box-shadow: 4px 4px 4px 0px rgba(102,102,102,1);
	tr
		&:first-child
			font-weight: 600
			font-variant: small-caps
			font-size: 15pt;
			th
				color: white;
				height: 30px;
				background: #0350a3; /* Old browsers */
				background: -moz-linear-gradient(top, #0350a3 0%, #0350a3 11%, #0066c6 50%, #0350a3 88%, #0350a3 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0350a3), color-stop(11%,#0350a3), color-stop(50%,#0066c6), color-stop(88%,#0350a3), color-stop(100%,#0350a3)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, #0350a3 0%,#0350a3 11%,#0066c6 50%,#0350a3 88%,#0350a3 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, #0350a3 0%,#0350a3 11%,#0066c6 50%,#0350a3 88%,#0350a3 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, #0350a3 0%,#0350a3 11%,#0066c6 50%,#0350a3 88%,#0350a3 100%); /* IE10+ */
				background: linear-gradient(to bottom, #0350a3 0%,#0350a3 11%,#0066c6 50%,#0350a3 88%,#0350a3 100%); /* W3C */
				padding-bottom 8px
			&:hover
				background-color transparent
		&:nth-child(even)
			background-color #f9f9f9
		a
			display: block
			width: 100%
			color #5b5b5b
			&:hover
				color #e5e5e5
		&:hover
			background-color #d6d6d6
		th.ac
			text-align center
		td
			text-align left
			padding-left: 15px

#event
	td
		text-align: center !important
#passphrase,
#message,
select
input[type="text"]
	margin: 20px 20px 0px 10px;
.simple_row2,
.simple_row
	height: 25px;
.simple_row2
	float: left;
	margin-left: 75px;
	margin-bottom: 25px;
.post
	margin-top: 20px;
	padding:2px 20px 2px;
	background: #0350a3; /* Old browsers */
	background: -moz-linear-gradient(top, #0350a3 0%, #0350a3 11%, #0066c6 50%, #0350a3 88%, #0350a3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0350a3), color-stop(11%,#0350a3), color-stop(50%,#0066c6), color-stop(88%,#0350a3), color-stop(100%,#0350a3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0350a3 0%,#0350a3 11%,#0066c6 50%,#0350a3 88%,#0350a3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #0350a3 0%,#0350a3 11%,#0066c6 50%,#0350a3 88%,#0350a3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #0350a3 0%,#0350a3 11%,#0066c6 50%,#0350a3 88%,#0350a3 100%); /* IE10+ */
	background: linear-gradient(to bottom, #0350a3 0%,#0350a3 11%,#0066c6 50%,#0350a3 88%,#0350a3 100%); /* W3C */
	border:3px groove #BBB;
	border-radius: 6%;
	color:white;
	text-decoration: none;
	font-variant: small-caps;
	font-size: 18px;
	box-shadow: 2px 2px 6px 1px black;
	text-shadow: 1px 1px 2px black;;
	text-align: center;
	display:block;
	margin-right: auto;
	margin-left: auto;
//HISTORY 
#pdf
	width:30px;
	margin-left: 10px;

#html
	width: 30px;
	margin-left: 10px;


#gallery
	margin-left 20px
	width: 32px;
#email
	width: 50px;
	margin-left: 450px;
iframe
	margin-left: 265px;
#faq,
#links
	width:640px
	height: 480px
	margin-top: 20px
	margin-left: 155px
	border: 1px solid black;
	overflow: scroll;
	overflow-x: hidden;
	ul
		li
			margin-right:25px;
			font-size: 10pt;
	a
		text-decoration:none
		color: black
		&:hover
			color:gold;
.fotorama
	margin-left: 175px;
#ui-datepicker-div
	font-size: 12px

#flash-alert, #error-alert
	position: absolute
	text-transform uppercase
	text-align: center
	margin-top: 65px
	margin-left: 45px
	min-width 960px

#error-alert
	color: red
#flash-alert
	color: green