html
	font-family: 'Quattrocento', sans-serif;
	max-width:970px;
	margin: 5px auto;

.c-col
	padding-top: 10px;
	min-width:925px;
	h2		
		text-align: center;
		font-size: 26px;
		font-variant: small-caps;

	h3
		text-align: center;
		font-size: 20pt;
		font-weight: bold;
		font-variant: small-caps;
	h4
		font-size: 16pt;
		text-align: center;
		font-variant: small-caps;

	h5
		text-align: center;
		font-style: italic;
		font-size: 10pt;
	ul
		li
			text-align: center;
			line-height: 24px;
			margin-right:25px;
			list-style:none;
			font-size: 12pt;
	a 
		color:white;
		text-decoration: none;
		font-variant: small-caps;
		font-size: 15px;
		font-weight: bold;	
		&:hover
			color:gold;
	p
		margin-left:200px
.cancel-btn
	float: right
	margin-right: 30%
#update_form
	margin-left: 50px
	margin-top: 30px
.form_row
	padding: 5px
	input[type="text"],
	select,
	#passphrase
		margin: 0px 0px 10px 0px
	label
		float:left
		width 200px

.tour,
.manage
	margin-left: 355px;
	width: 200px;
	padding:3px 12px 3px;
	text-align: center;
	background: #0350a3; /* Old browsers */
	background: -moz-linear-gradient(top, #0350a3 0%, #0350a3 11%, #0066c6 50%, #0350a3 88%, #0350a3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0350a3), color-stop(11%,#0350a3), color-stop(50%,#0066c6), color-stop(88%,#0350a3), color-stop(100%,#0350a3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0350a3 0%,#0350a3 11%,#0066c6 50%,#0350a3 88%,#0350a3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #0350a3 0%,#0350a3 11%,#0066c6 50%,#0350a3 88%,#0350a3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #0350a3 0%,#0350a3 11%,#0066c6 50%,#0350a3 88%,#0350a3 100%); /* IE10+ */
	background: linear-gradient(to bottom, #0350a3 0%,#0350a3 11%,#0066c6 50%,#0350a3 88%,#0350a3 100%); /* W3C */
	border:3px groove #BBB;
	border-radius: 6%;
	box-shadow: 2px 2px 6px 1px black;


//HOME
#sign
	width: 265px;
	height: 201px;
	margin-left: 340px;
	border: 5px groove #0061B5;

#lodge
	width: 325px;
	height: 176px;
	margin-left: 305px;
	margin-bottom: 12px;
	border: 5px groove #0061B5;

//NEWS

select
	padding-left: 5px;
#msgPost
	margin: 0px auto;

#msg, #event, #officers
	margin: 30px auto 40px;
	width: 700px;
	background: #ffffff
	line-height 20px
	border: 1px solid #3b4f71
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 4px 4px 4px 0px rgba(102,102,102,1);
	-moz-box-shadow: 4px 4px 4px 0px rgba(102,102,102,1);
	box-shadow: 4px 4px 4px 0px rgba(102,102,102,1);
	tr
		&:first-child
			font-weight: 600
			font-variant: small-caps
			font-size: 15pt;
			th
				color: white;
				height: 30px;
				background: #0350a3; /* Old browsers */
				background: -moz-linear-gradient(top, #0350a3 0%, #0350a3 11%, #0066c6 50%, #0350a3 88%, #0350a3 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0350a3), color-stop(11%,#0350a3), color-stop(50%,#0066c6), color-stop(88%,#0350a3), color-stop(100%,#0350a3)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top, #0350a3 0%,#0350a3 11%,#0066c6 50%,#0350a3 88%,#0350a3 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top, #0350a3 0%,#0350a3 11%,#0066c6 50%,#0350a3 88%,#0350a3 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top, #0350a3 0%,#0350a3 11%,#0066c6 50%,#0350a3 88%,#0350a3 100%); /* IE10+ */
				background: linear-gradient(to bottom, #0350a3 0%,#0350a3 11%,#0066c6 50%,#0350a3 88%,#0350a3 100%); /* W3C */
				padding-bottom 8px
			&:hover
				background-color transparent
		&:nth-child(even)
			background-color #f9f9f9
		a
			display: block
			width: 100%
			color #5b5b5b
			&:hover
				color #fefefe
		&:hover
			background-color #d6d6d6
		th.ac
			text-align center
		td
			text-align left
			padding-left: 10px
			&:last-child
				width 15px;
				padding-left: 0px
				button
					background-color transparent
					color transparent
					border none
					cursor pointer
					background-image url('/images/delete.png')
					background-size 15px
					height: 15px
					width: 15px
					background-position center
					background-repeat no-repeat
					margin 0
				button
					&:hover
						background-image url('/images/delete2.png')
#officers
	width: 500px !important
	margin-top: 85px;
	tr
		td:first-child
			text-align: right
			font-weight: 800
			padding-right: 20px
		td:last-child
			padding-left: 20px
			width:220px;
#event
	td
		text-align: center !important
#passphrase,
#message,
select
input[type="text"]
	margin: 20px 20px 0px 10px;
#event_show
	width: 550px
	padding: 25px;
	margin-left: 175px;
	border: 1px solid #3b4f71
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 4px 4px 4px 0px rgba(102,102,102,1);
	-moz-box-shadow: 4px 4px 4px 0px rgba(102,102,102,1);
	box-shadow: 4px 4px 4px 0px rgba(102,102,102,1);
.event_row,
.event_row2
	clear: both
	height: 26px
	width: 525px;
	padding: 8px
	border-bottom-style: ridge
	border-width: 1px
	border-color: #3d3d3d
	label
		float:left
		display block
		width 80px
.event_field
	float:left
	display block
	padding-bottom: 10px
	padding-left: 20px
.event_row2
	height: 45px;
	label
		width: 100px
.event_textarea
	overflow-y: scroll;
	overflow-scrolling: touch
.post
	margin-top: 20px;
	padding:2px 20px 2px;
	background: #0350a3; /* Old browsers */
	background: -moz-linear-gradient(top, #0350a3 0%, #0350a3 11%, #0066c6 50%, #0350a3 88%, #0350a3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0350a3), color-stop(11%,#0350a3), color-stop(50%,#0066c6), color-stop(88%,#0350a3), color-stop(100%,#0350a3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0350a3 0%,#0350a3 11%,#0066c6 50%,#0350a3 88%,#0350a3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #0350a3 0%,#0350a3 11%,#0066c6 50%,#0350a3 88%,#0350a3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #0350a3 0%,#0350a3 11%,#0066c6 50%,#0350a3 88%,#0350a3 100%); /* IE10+ */
	background: linear-gradient(to bottom, #0350a3 0%,#0350a3 11%,#0066c6 50%,#0350a3 88%,#0350a3 100%); /* W3C */
	border:3px groove #BBB;
	border-radius: 6%;
	color:white;
	text-decoration: none;
	font-variant: small-caps;
	font-size: 18px;
	box-shadow: 2px 2px 6px 1px black;
	text-align: center;
	display:block;
	margin-right: auto;
	margin-left: auto;
//HISTORY 
#pdf
	width:30px;
	margin-left: 10px;

#html
	width: 30px;
	margin-left: 10px;


#gallery
	margin-left 20px
	width: 32px;
#email
	width: 50px;
	margin-left: 450px;
iframe
	margin-left: 265px;
#faq,
#links
	width:640px
	height: 480px
	margin-top: 20px
	margin-left: 155px
	border: 1px solid black;
	overflow: scroll;
	overflow-x: hidden;
	ul
		li
			margin-right:25px;
			font-size: 10pt;
	a
		text-decoration:none
		color: black
		&:hover
			color:gold;
.fotorama
	margin-left: 175px;
#ui-datepicker-div
	font-size: 12px

#flash-alert, #error-alert
	position: absolute
	text-transform uppercase
	text-align: center
	margin-top: 65px
	margin-left: 45px
	min-width 960px

#error-alert
	color: red
#flash-alert
	color: green
.ui-dialog-content
	background: white !important
#dialog-1,
#dialog-2
	input[type="submit"]
		float: right
		margin-top: 25px;
#event_update,
#officer_update
	float: right
	background-color transparent
	color transparent
	border none
	cursor pointer
	background-image url('/images/edit_button.png')
	background-size 20px
	height: 20px
	width: 20px
	background-position center
	background-repeat no-repeat
	&:hover
		background-image url('/images/edit_button2.png')
#officer_update
	margin-top: -60px
	margin-right: 180px;
#event_update
	margin-top: -20px
	margin-right: 140px;
.post_row,
.post_row2
	margin-left: 175px
	padding: 5px
	input
		padding-left: 5px
.post_row2
	margin-top: 10px
	label
		float:left
		padding-right: 10px