extends ../layout

block content
	include ../includes/lodge_template
	div.c-col
		h2 History of Spring Hill Lodge #124
		p(style="margin:0;text-align:center;").
			<b>Dispensation Issued:</b> February 2, 1846
			<br>
			<b>First Stated Meeting:</b> February 28, 1846
		h4 Officers Present at First Stated Meeting:
		ul
			li Joshua B. Ragsdale  -  Worshipful Master
			li Moses S. Hurt  -  Senior Warden
			li James T. McKissack  -  Junior Warden
			li R. B. Moore  -  Treasurer
			li J. B. Alderson  -  Secretary
		p <b>By-Laws Committee:</b> R. B. Moore, Moses S. Hurt, J. B. Alderson
		p <b>Current Lodge Dedication Ceremony: November 17, 2007</b>
			img(id="gallery" src="/images/gallery.png")
		h4 Past Worshipful Masters:
		p Past Worshipful Masters from 1846-1945:
			a(href="/pdf?title=pm1")
				img(id="pdf" src="/images/pdf.png")
			img(id="html" src="/images/html2.png")
		p Past Worshipful Masters from 1946-2007:
			a(href="/pdf?title=pm2")
				img(id="pdf" src="/images/pdf.png")
			img(id="html" src="/images/html2.png")