extends ../layout
block content
    include ../includes/lodge_template
    div.c-col
        h2 <u>Tour of Our Lodge</u>
        div(class="fotorama", data-arrows="true", data-swipe="true", data-loop="true")
            img(src="/images/Tour/Lodgediningarea.png", data-caption="Dining Room")
