doctype html
html
  head
    title= title
    link(href='http://fonts.googleapis.com/css?family=Quattrocento' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href=__assets.styles.app)
    script(type="text/javascript" src=__assets.javascript.common)
    script(type="text/javascript" src=__assets.javascript.app)
  body
    block content