extends layout

block content
	include includes/lodge_template
	div.c-col
		h5 We hold our Regular Stated Meetings on the 1st Tuesday of every Month.
		h5 Stop in after 5:30pm to talk with us about Freemasonry.
		h3 Map to Our Lodge:
		iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3240.1644331443135!2d-86.89876699999999!3d35.697570999999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88639d545ceae265%3A0x93d8654694a90105!2s3630+Greens+Mill+Rd!5e0!3m2!1sen!2sus!4v1399590727731" width="400" height="300" frameborder="0" style="border:0")
		p(style="margin-left:0;margin-top:10px;text-align:center;") If have any questions please feel free to e-mail us.
		address
			a(href="mailto:SHLodge124@gmail.com?subject=Inquiry")
				img(id="email" src="/images/gmail.png" alt="SHlodge124@gmail.com")