extends layout

block content
	include includes/lodge_template
	div.c-col
		h2<u>Masonic F.A.Q.</u>
	div#faq
		ul 	
			li <b>What is Freemasonry?</b> A fraternity of men dedicated to building the moral character of its members and the preservation of personal freedom. 
			li <b>Is Masonry a religion?</b> No. Every applicant must express a belief in a Supreme Being to whom all men are accountable but no particular religious affiliation is required.
			li <b>How many Masons are there in Tennessee?</b> There are about 41,000 Tennessee Masons. 
			li <b>How many individual Lodges are in Tennessee?</b> There are 328 subordinate lodges in Tennessee.	  	
			li <b>Do Masons of today take oaths?</b> Yes, symbolical oaths are required of every Mason in remembrance of those imposed on the Stone Masons during the Middle Ages.
			li <b>Does Masonry teach morality?</b> Rituals teaching faithfulness and charity are expressed using allegories and symbols.  <br>	  	
			li <b>How are these teachings enforced?</b> Erring Masons are counseled by their brothers. Those refusing help are expelled from the Fraternity.
			li <b>Are Masons charitable?</b> Yes. In the USA Masonic organizations contribute over $2 million daily to hospitals, language disorder programs, eye clinics, and various other causes.			li What is an appendant body or organization? An appendant body relies on the Masonic Fraternity for their membership, therefore, the term appendant 
			li <b>Who can become a Mason?</b> In Tennessee a man must be 18 years old of good character and reputation and been a resident of the state for one year.
			li <b>How does one usually learn about the Masonic Fraternity?</b> One usually notices the good works and conduct of individual Masons.
			li <b>How does a man become a Mason?</b> Since Masons cannot solicit members, the first step in becoming a Mason is to ask a member of a local lodge for a petition, complete it, and submit the petition with the signature of two members of that lodge to the lodge for consideration. All petitions must receive 100% approval when voted on by the lodge. After this the man submitting the petition will be notified and a time will be set for his initiation, or his money returned if he is rejected.
			li <b>How many degrees are there in Masonry?</b> There are three degrees in Masonry which are Entered Apprentice, Fellow-craft and Master Mason.
			li <b>How long does it take for one to become a Mason?</b> Typically, about six months in Tennessee.
			li <b>Is memory work required?</b> Yes.
			li <b>What must be memorized?</b> Each degree has a catechetical lecture relating to the procedural events carried out during the conferral of each degree.
			li <b>How does one learn his catechetical lectures?</b> A teacher will be provided by the Lodge.
			li <b>How much does it cost to join Masonry?</b> Each Lodge sets their Fees for the degrees but the average cost in Tennessee is about $120 for the three degrees.
			li <b>Are there annual dues?</b> Yes.	  	
			li <b>How much are the annual dues?</b> Each lodge sets their annual dues but the average in Tennessee is $65.