extends layout

block content
	include includes/lodge_template
	div.c-col
		h2 Welcome to the Spring Hill Masonic Lodge Website
		img(id="sign" src="images/sign1.png"  alt="sign")
		h5 "Erected in memory of Brother Billy Cox Plant: January 17, 1926 - May 21,2005"
		img(id="lodge" src="images/FLodg.png" alt="Lodge")
		div.tour
			a(href="/tour") Come In and Tour Our Lodge