doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/lodge_template.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/vendor/jquery-ui.min.css')
    link(rel='stylesheet', href='/vendor/jquery-ui.theme.min.css')
    link(rel='stylesheet', href='/vendor/jquery-ui.structure.min.css')
    link(rel='stylesheet', href='/fotorama-4.6.2/fotorama.css')
    script(type='text/javascript', src='/vendor/jquery-2.1.1.min.js')
    script(type='text/javascript', src='/vendor/jquery-ui.min.js')
    script(type='text/javascript', src='/javascripts/shl.js')
    script(type='text/javascript', src='/fotorama-4.6.2/fotorama.js')

  body
    block content