doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/lodge_template.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/vendor/jquery-2.1.1.min.js')
    script(type='text/javascript', src='/javascripts/shl.js')
  body
    block content