extends layout

block content
	include includes/lodge_template
	div.c-col
		h2<u>Masonic Links</u>
	div#links
		ul
			label <u>National Masonic Links</u>
			li
				a(href="http://www.gwmemorial.org/") George Washington Masonic Memorial
			li
				a(href="http://www.scottishrite.org/") Ancient and Accepted Scottish Rite Southern Jurisdiction 
			li
				a(href="http://www.shriners.com/Shrine/") Shriners of North America
			li
				a(href="http://www.freemasonry.org") The Philalethes Society
			li
				a(href="http://masonicrenewal.drupalgardens.com/") Masonic Renewal Committee of North America
			li
				a(href="http://www.msana.com") Masonic Service Association of North America
		ul
			label<u>Grand Lodge and Affiliates</u>
			li
				a(href="http://www.grandlodge-tn.org/") Tennessee Grand Lodge
			li
				a(href="http://tngrandyorkrite.org/") Tennessee Grand York Rite
			li
				a(href="http://www.nashvillescottishrite.org/") Tennessee Scottish Rite
			li
				a(href="http://www.columbialodge.org") Columbia Lodge #31 Columbia, Maury County, TN
			li
				a(href="http://www.hiram7.org/") Hiram Lodge #7 Franklin, Williamson County, TN
		ul 
			label<u>Masonic Related Links</u>
			li
				a(href="http://www.masonicworld.com") Masonic World
			li
				a(href="http://www.bessel.org") Bessel
			li
				a(href="http://www.cinosam.net") Cinosam
			li
				a(href="http://www.themasonictrowel.com") The Masonic Trowel
			li
				a(href="http://www.cornerstonepublishers.com") Cornerstone Publishers Masonic Book Publisher
			li
				a(href="http://www.masonicinfo.com") Anti-Masonry Points of View
			li
				a(href="http://www.livingstonesmagazine.com/") Living Stones Masonic Magazine
			li
				a(href="http://www.twtmag.com") The Working Tools Magazine
			li
				a(href="http://www.freemasons-freemasonry.com/") Pietre Stones - Review of Freemasonry Freemasons Magazine
		
		ul
			label<u>Masonic Store</u>
			li
				a(href="http://freemasonstore.com") Freemason Store
			li
				a(href="http://www.macoy.com") Macoy Great Catalog, Books, Pictures, Slides
			li
				a(href="http://www.klitzner.com") Harry Klitzner Co. Catalog
			li
				a(href="http://www.jpluther.com") J.P. Luther Co. Catalog