extends layout

block content
	include includes/lodge_template
	div.c-col
		h2<u>2014 Lodge Officers</u>
		ul
			li<b>Worshipful Master:</b> Campbell Atkinson
			li<b>Senior Warden:</b> Brandon Guffey
			li<b>Junior Warden:</b> Dale Sonnenberg
			li<b>Treasurer:</b> Ray Moss
			li<b>Secretary:</b> Donald Hover
			li<b>Chaplain:</b> Marvin Bailey
			li<b>Senior Deacon:</b> Kenneth Hamilton
			li<b>Junior Deacon:</b> Wayne Goodbar
			li<b>Senior Steward:</b> Francis McVay
			li<b>Junior Steward:</b>
			li<b>Tiler:</b> Keith Fall 