extends layout
block content
    include includes/lodge_template
    div.c-col
        h2 <u>Tour of Our Lodge</u>
        div(class="fotorama", data-arrows="true", data-swipe="true", data-loop="true")
            img(src="/images/Tour/Lodgediningarea.png", data-caption="Dining Room")
            img(src="/images/Tour/PRoomWeb.png", data-caption="Looking Towards the East")
            img(src="/images/Tour/EastWeb.png", data-caption="At the Altar")
            img(src="/images/Tour/WestWeb.png", data-caption="Looking Towards the West")
            img(src="/images/Tour/Northeast Corner.png", data-caption="Corner of Instruction")
            img(src="/images/Tour/timecapsuleweb.png", data-caption="Cornerstone")
            img(src="/images/Tour/timecapsuleweb2.png", data-caption="Cornerstone Inscription")